.ueberunshero img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

.einmorgen {
    display: flex;
}

.einmorgen div h3 {
    font-family: 'Sorts Mill Goudy';
    font-size: 2rem;
}

.einmorgen div p {
    font-size: 1.6rem;
    font-family: 'Montserrat';
}

.einmorgentext {
    width: 60%;
}

.gallery {
    width: 40%;
}

.einmorgen div img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 991.98px) {

    .einmorgen {
        flex-direction: column;
    }

    .einmorgen:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .einmorgen div h3 {
        font-size: 2.2rem;
    }

    .einmorgen div p {
        font-size: 1.4rem;
    }

    .einmorgen div img {
        width: 100vw;
        height: 100vw;
    }

    .einmorgentext {
        width: 100%;
    }
}

@media (min-width: 2000px) {
    .einmorgen div h3 {
        font-size: 2.6rem;
    }

    .einmorgen div p {
        font-size: 1.8rem;
    }
}