.ueberunshero img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

.einmorgen div h3 {
    font-family: 'Sorts Mill Goudy';
    font-size: 2rem;
}

.einmorgen div p {
    font-size: 1.6rem;
    font-family: 'Montserrat';
}

.gallery {
    display: flex;
    justify-content: space-around;
}

/* .einmorgen div {
    display: flex;
    flex-direction: column;
} */

.einmorgen div img {
    width: 15vw;
    height: 15vw;
    align-self: center;
    /* border-radius: 50%; */
    object-fit: cover;
    object-position: center;
    padding: 5px;
    border: 1px solid #EEE;
    box-shadow: 5px 5px 5px gray;
    transition: width 2s, height 2s;

}

.einmorgen div img:hover {
    width: 18vw;
    height: 18vw;
}

@media (max-width: 991.98px) {
    .einmorgen div h3 {
        font-size: 2.2rem;
    }

    .einmorgen div p {
        font-size: 1.4rem;
    }

    .einmorgen div {
        display: flex;
        flex-direction: column;
    }

    .einmorgen div img {
        width: 100vw;
        height: 100vw;
        padding: 0;
        border: none;
        box-shadow: none;
        transition: none;
    }

    .einmorgen div img:hover {
        width: 100vw;
        height: 100vw;
    }

    .smnone {
        display: none;
    }
}

@media (min-width: 2000px) {
    .einmorgen div h3 {
        font-size: 2.6rem;
    }

    .einmorgen div p {
        font-size: 1.8rem;
    }
}